<h1>Inscription</h1>
<form action="/home" method="post">
    <label for="username">Nom d'utilisateur</label>
    <input type="text" name="username" id="username">
    <label for="password">Mot de passe</label>
    <input type="password" name="password" id="password">
    <button type="submit">Valider</button>
</form>